
@{
    ViewBag.Title = "Cross the Bridge";
}

<h2>Stop</h2>
<iframe style="position: center;" width="853" height="480" src="https://www.youtube.com/embed/Wpx6XnankZ8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
<br/> <br/>
<p style="font-size: 12pt;">Bridgekeeper: Who would cross the Bridge of Death must answer me these questions three, ere the other side he see.<br/>
Sir Lancelot: Ask me the questions, bridgekeeper. I am not afraid.<br />
Bridgekeeper: What... is your name?<br />
Sir Lancelot: My name is Sir Lancelot of Camelot.<br />
Bridgekeeper: What... is your quest?<br />
Sir Lancelot: To seek the Holy Grail.<br />
Bridgekeeper: What... is your favourite colour?<br />
Sir Lancelot: Blue.<br />
Bridgekeeper: Go on. Off you go.<br />
Sir Lancelot: Oh, thank you. Thank you very much.<br />
Sir Robin: That's easy.<br />
Bridgekeeper: Stop. Who would cross the Bridge of Death must answer me these questions three, ere the other side he see.<br />
Sir Robin: Ask me the questions, bridgekeeper. I'm not afraid.<br />
Bridgekeeper: What... is your name?<br />
Sir Robin: Sir Robin of Camelot.<br />
Bridgekeeper: What... is your quest?<br />
Sir Robin: To seek the Holy Grail.<br />
Bridgekeeper: What... is the capital of Assyria?<br />
[pause]<br />
Sir Robin: I don't know that.<br />
[he is thrown over the edge into the volcano]<br />
Sir Robin: Auuuuuuuugh.<br />
Bridgekeeper: Stop. What... is your name?<br />
Galahad: Sir Galahad of Camelot.<br />
Bridgekeeper: What... is your quest?<br />
Galahad: I seek the Grail.<br />
Bridgekeeper: What... is your favourite colour?<br />
Galahad: Blue. No, yel...<br />
[he is also thrown over the edge]<br />
Galahad: auuuuuuuugh.<br />
Bridgekeeper: Hee hee heh. Stop. What... is your name?<br />
King Arthur: It is 'Arthur', King of the Britons.<br />
Bridgekeeper: What... is your quest?<br />
King Arthur: To seek the Holy Grail.<br />
Bridgekeeper: What... is the air-speed velocity of an unladen swallow?<br />
King Arthur: What do you mean? An African or European swallow?<br />
Bridgekeeper: Huh? I... I don't know that.<br />
[he is thrown over]<br />
Bridgekeeper: Auuuuuuuugh.<br />
Sir Bedevere: How do know so much about swallows?<br />
King Arthur: Well, you have to know these things when you're a king, you know.</p><br />

