@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!-- <h1>@ViewBag.HelloMessage</h1> -->
<h1>@ViewData["HelloMessage"]</h1>
<br/>
<p>Monty Python and the Holy Grail is a 1975 British slapstick comedy film concerning the Arthurian legend, written and performed by the comedy group of Monty Python (Graham Chapman, John Cleese, Terry Gilliam, Eric Idle, Terry Jones, and Michael Palin), and directed by Gilliam and Jones. It was conceived during the hiatus between the third and fourth series of their BBC television series Monty Python's Flying Circus.
In contrast to the group's first film, And Now for Something Completely Different, a compilation of sketches from the first two television series, Holy Grail draws on new material. It parodies the legend of King Arthur's quest to find the Holy Grail. Idle used the film as the basis for the musical Spamalot 30 years later.
Monty Python and the Holy Grail grossed more than any British film exhibited in the US in 1975. The film received a 97% "Fresh" rating on Rotten Tomatoes, with the consensus: "a cult classic as gut-bustingly hilarious as it is blithely ridiculous". In the US, the film was selected as the second best comedy of all time in the ABC special Best in Film: The Greatest Movies of Our Time; in the UK, readers of Total Film magazine ranked the film the fifth greatest comedy film of all time, and a similar poll of Channel 4 viewers placed the film sixth (2000).</p>
