@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img style="border-radius: 6px;" src="http://vignette3.wikia.nocookie.net/uncyclopedia/images/f/f8/Timtheenchanter.jpg/revision/latest?cb=20070223013919"/>

