@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>I don't want to talk to you no more.<img style="float: right;" src="http://rs23.pbsrc.com/albums/b360/kssykssygg/Icons/montyp.gif~c200" /></h2>
    <p class="lead">Your mother was a hamster, and your father smelt of elderberries.</p> 
    <br/>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Get French Taunted &raquo;</a></p>
</div>

<div style="font-size: 12pt;"class="row">
    <div class="col-md-4">
        <h2>On Swallows</h2>
        <p>
            <em>"A five ounce bird could not carry a one pound coconut.  In order to maintain air-speed velocity, a swallow needs to beat its wings forty-three times every second,"</em>
        </p>
        <p style="float: right;">-Soldier Keen on Birds</p>
    </div>
    <div class="col-md-4">
        <h2>On Politics</h2>
        <p><em>"Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government."</em></p>
        <p style="float: right;">-Dennis</p>
    </div>
    <div class="col-md-4">
        <h2>On the Earth's Shape</h2>
        <p><em>"This new learning amazes me, Sir Bedevere. Explain again how sheep's bladders may be employed to prevent earthquakes."</em></p>
        <p style="float: right;">-King Arthur</p>
    </div>
</div>
<br/>
<img width="100%"src="http://www.retroland.com/wp-content/uploads/2013/01/Monty-Python-and-the-Holy-G.jpg"/>